<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-if/v-show学习</title>
</head>
<body>
    <div id="app">
        <!--v-if和v-show类似，但v-if是代码块注释掉，v-show是用css控制，
        如果频繁控制显示影藏用v-show，v-if会创建销毁消耗大
        v-show 有更高的渲染，页面会全部渲染出来，初始化渲染消耗大
        v-if 如果不频繁修改显示影藏，就使用v-if， v-if更高的切换消耗-->
        <p v-if="show">{{message}}</p>
        <p v-if="hiddle">{{message}}</p>
        <p v-if="height1>1.7">我的身高：{{height1}}m</p>
        <p v-if="height2>1.7">小白的身高：{{height2}}m</p>

        <p v-show="show">{{message}}</p>
        <p v-show="hiddle">{{message}}</p>
        <p v-show="height1>1.7">我的身高：{{height1}}m</p>
        <p v-show="height2>1.7">小白的身高：{{height2}}m</p>
    </div>
    <script src="../js/vue.js"></script>
    <script type="text/javascript">
        new Vue({
            el:'#app',
            data:{
                message:"我爱戴小白！",
                show:true,
                hiddle:false,
                height1:1.78,
                height2:1.68
            }
        });
    </script>
</body>
</html>