.canvas{
    width: 600px;
    padding: 100px 20px;
    border: 1px solid #333333;
    text-align: center;
    margin-top: 10px;
    background-color: #2aabd2;
}

.canvasScroll{
    width: 600px;
    height: 300px;
    border: 1px solid #333333;
    text-align: center;
    margin-top: 10px;
    background-color: #1b6d85;
    overflow: auto;
}